<div class="courtain">
    <img src="{{ 'logo-kallfu-white.png' | asset_url }}" alt="loader" width="120">
</div>
<script>
    window.addEventListener("DOMContentLoaded", ()=>{
        document.querySelector('.courtain').classList.add('hidden');
    })
</script>