<style>
    body{
        scroll-behavior: smooth !important;
    }
</style>
<div class="w-full block border-t border-t-[#121212]">
    <div class="page-width">
        <div class="flex justify-center items-center">
            <div class="klaviyo-form-UajsjJ"></div>
        </div>
    </div>
</div>