<h1>index</h1>

<div x-data="counter()"> 
    <button @click="decrement()">-</button>
    <span x-text="count" class="text-2xl"></span>
    <button @click="increment()">+</button>
</div>

<script>
    function counter(){
        return {
            count: 0,
            increment(){
                this.count++;
            },
            decrement(){
                this.count--;
            }
        }
    }
</script>