<div class="page-width">
   <h1 class="text-2xl tracking-[1.5px] font-bold uppercase">
       {{ page.title | escape }}
   </h1>
   <div class="tracking-[1.5px]">
       {{ page.content }}
   </div> 
</div>