<div class="min-h-[90vh] w-full flex-col flex justify-center items-center tracking-[1.5px]">
    <h1 class="text-3xl text-center font-bold">Página no encontrada</h1>
    <h2 class="text-xl text-center ">Asegurate de que has escrito bien la url y vuelve a intentarlo o</h2>
    <a class="text-xl underline" href="/">Vuelve al inicio</a>
</div>